IMG creation flow.blueprint.json
{
    "name": "IMG creation flow",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4266766
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "F",
                            "b": "Processing",
                            "o": "text:equal"
                        }
                    ]
                ],
                "orderBy": "F",
                "sheetId": "Request",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "1pf4DMY4Ijqm-W4Oo9l2e_qWEIi9_kDyzY_arVRf3RhA",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Status (F)"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Request"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "String"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Workflow_Input"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (quangdvo11311@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Descriptions (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Asset_URL (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Output_Format (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Model (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Status (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Output_URL (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Error_Log (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 20,
            "module": "huggingface:generateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4271755
            },
            "mapper": {
                "model": "stabilityai/stable-diffusion-3-medium-diffusers",
                "inputs": "{{1.`1`}}{{1.`2`}}",
                "options": {},
                "parameters": {
                    "target_size": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "options": {
                            "nested": {
                                "use_cache": {
                                    "mode": "chose"
                                },
                                "wait_for_model": {
                                    "mode": "chose"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "huggingface"
                            },
                            "label": "My Hugging Face connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:huggingface",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputs",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "parameters",
                        "spec": [
                            {
                                "name": "guidance_scale",
                                "type": "number",
                                "label": "Guidance Scale"
                            },
                            {
                                "name": "negative_prompt",
                                "type": "text",
                                "label": "Negative Prompt"
                            },
                            {
                                "name": "num_inference_steps",
                                "type": "integer",
                                "label": "Num Inference Steps"
                            },
                            {
                                "name": "target_size",
                                "spec": [
                                    {
                                        "name": "width",
                                        "type": "integer",
                                        "label": "Width"
                                    },
                                    {
                                        "name": "height",
                                        "type": "integer",
                                        "label": "Height"
                                    }
                                ],
                                "type": "collection",
                                "label": "Target Size"
                            },
                            {
                                "name": "scheduler",
                                "type": "text",
                                "label": "Scheduler"
                            },
                            {
                                "name": "seed",
                                "type": "integer",
                                "label": "Seed"
                            }
                        ],
                        "type": "collection",
                        "label": "Parameters"
                    },
                    {
                        "name": "options",
                        "spec": [
                            {
                                "name": "use_cache",
                                "type": "boolean",
                                "label": "Use Cache"
                            },
                            {
                                "name": "wait_for_model",
                                "type": "boolean",
                                "label": "Wait for Model"
                            }
                        ],
                        "type": "collection",
                        "label": "Options"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 4272885
            },
            "mapper": {
                "data": "{{20.data}}",
                "select": "value",
                "convert": false,
                "filename": "{{formatDate(now; \"YYMMDD-HHmmss\")}}_{{20.name}}",
                "folderId": "/1VrtuQ49hBH855k1sHNr-ckA3GG2f7rSO/1DOGrZwoWbpbbKblaAxsFl6Fi7m48ZceP",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Automation Workflow Assignment",
                                "output"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Make driver (quangdvo11311@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4266766
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "3": "{{22.fileExtension}}",
                                    "4": "Stable Diffusion",
                                    "5": "Success",
                                    "6": "{{22.webViewLink}}"
                                },
                                "sheetId": "Request",
                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1VrtuQ49hBH855k1sHNr-ckA3GG2f7rSO/1pf4DMY4Ijqm-W4Oo9l2e_qWEIi9_kDyzY_arVRf3RhA",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Request"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "assets",
                                                "Workflow_Input"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Timestamp (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Descriptions (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Asset_URL (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Output_Format (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Model (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Status (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Output_URL (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Error_Log (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (quangdvo11311@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Descriptions (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Asset_URL (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Output_Format (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Model (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Status (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Output_URL (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Error_Log (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 32,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4266766
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "limit": "1",
                                "spreadsheetId": "1pf4DMY4Ijqm-W4Oo9l2e_qWEIi9_kDyzY_arVRf3RhA",
                                "sheetId": "Log",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "B",
                                            "o": "exist"
                                        }
                                    ]
                                ],
                                "orderBy": "B",
                                "sortOrder": "asc",
                                "fieldType": "string"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (quangdvo11311@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Workflow_Input"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Log"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Request_ID (B)"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "fieldType": {
                                            "mode": "chose",
                                            "label": "String"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "fieldType",
                                        "type": "select",
                                        "label": "Field Type",
                                        "validate": {
                                            "enum": [
                                                "string",
                                                "number",
                                                "date"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "TimeStamp (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "Request_ID (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Model (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Status (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "(E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "(F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "(G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "(H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "(I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "(J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "(K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "(AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "(AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "(AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "(AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "(AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "(AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "(AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "(AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "(AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "(AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "(AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "(AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "(AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "(AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "(AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "(AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "(AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "(AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "(AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "(AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "(AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "(AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "(AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "(AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "(AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 35330
                            },
                            "mapper": {
                                "key": "",
                                "overwrite": false,
                                "data": {
                                    "Timestamp": "{{32.`0`}}",
                                    "Request_ID": "{{32.`1`}}",
                                    "Model": "{{32.`2`}}",
                                    "Status": "{{32.`3`}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "Database_log"
                                        }
                                    },
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "Timestamp",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "Request_ID",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "Model",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "Status",
                                                "type": "text",
                                                "label": null
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 4272885
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "bijuurasengan61@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Generate Image is done",
                                "subject": "Notification about the image is done",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Make driver (quangdvo11311@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 4286706
                            },
                            "mapper": {
                                "text": "Generate Image Successfully",
                                "parse": false,
                                "channel": "C094LH0ETM5",
                                "channelType": "public",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "test-channel"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "My Slack (user) connection (quangvoworkspace.slack.com - quangdvo11311)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}